.nav-bar {
    min-height: 50px;
    margin: 5px 0px 0px 0px;
    padding: 15px;
    width: 100%;
    border: groove 2px;
}

.border-groove {
    border: groove 2px;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.c-red {
    color: red;
}

.c-green {
    color: green;
}

.grade-marked {
    background-color: yellow;
}

.video-style {
    position: relative;
    width: 90%;
    height: 390px;
}
